div.filetree-wrapper {
  border: 2px solid pink;
}

div.filetree-nav {
  border: 1px solid brown;
}

table.tree-view {
  border: 1px solid green;
}

div.blob-view {
    border: 1px solid purple;
}

tr.navigation > td {
  padding: 5px;
}

tr.navigation > td.icon {
  width: 20px;
}

.breadcrumbs {
  margin-bottom: 10px;
}
